*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    /* font-family: 'Roboto'; */
}
.container-min{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.container-max{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    border-radius: 36px;
    background: linear-gradient(80deg, #5B52A3 1.08%, #40B8EA 100%);
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}
.nav{
    display: flex;
    gap: 137px;
}
.nav .link__page{
    display: flex;
    align-items: center;
}
.nav .link__page ul{
    display: flex;
    gap: 40px;
    list-style: none;
    /* align-items: center; */
}
.nav .link__page ul li a{
    color:  #1F2428;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px; 
    text-decoration: none;
}
.nav .link__page ul li a:hover{
    color: #556DB6;
}
.user-btn__header{
    display: flex;
    gap: 42px;
    align-items: center;
}
.user_btn a{
    display: flex;
    gap: 11px;
    align-items: center;
    text-decoration: none;
}
.user_btn a p{
    color:  #1F2428;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
}
.user_btn a p:hover{
    color: #556DB6;
}
.submit__btn button{
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    border: none;
    padding: 16px 0;
    width: 170px;

    color:  #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
}
.submit__btn button:hover{
    background: linear-gradient(90deg, #058a57 0%, #09975e 96.96%);
}

/* hero start */
.hero__container{
    display: flex;
    gap: 52px;
    align-items: center;
    margin-bottom: 106px;
}
.hero__title h2{
    color:  #FFF;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    width: 715px;
    margin-bottom: 8px;
    padding-top: 100px;
}
.hero__title p{
    color:#FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 42px; 
    width: 707px;
    margin-bottom: 36px;
}
.hero__title button{
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    padding: 22px 0;
    border: none;
    width: 260px;

    color:  #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
    margin-bottom: 108px;
}
.hero__title button:hover{
    background: linear-gradient(90deg, #058a57 0%, #09975e 96.96%);
}

/* list__desc start */
.list_commodity{
    border-radius: 16px;
    background:  #FFF;
    box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 54px;
}
.list_desc-quest h3{
    color:  #1F2428;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    width: 477px;
    margin-bottom: 40px;
}
.listt__desc-commodity{
    color: #1F2428;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.listt__desc-commodity{
    padding: 25px 28px;
    display: flex;
    gap: 17px;
    align-items: center;
    cursor: pointer;
}
.listt__desc-commodity:hover{
    background-color: #F2F6FC;
}
/* .previous-vector,.forward-vector{
    padding: 50px 18px 50px 27px;
} */

/* price clothes */
.price__clothes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 162px;
}
.t-shirt-daisy{
    margin-top:80px;
}
.t-shirt-daisy .t-shirt_text{
    color:  #1F2428;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 44px;
    width: 400px;
}
.flag__russia{
    border-radius: 16px;
    background: #F2F6FC;
    padding: 33px 34px;
    display: flex;
    gap: 28px;
    align-items: center;
    margin-bottom: 157px;
}
.price__russia p{
    color:  #1F2428;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; 
    margin-bottom: 8px;
}
.price__russia h5{
    color:  #1F2428;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
}
.instruction-vector{
    display: flex;
    gap: 40px;
    align-items: center;
}
.instruction-vector_active{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
}
.jacket__blue{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jacket__blue img{
    margin-bottom: 40px;
}
.jacket__blue p{
    color: #1F2428;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 7px;
}
.jacket__blue h5{
    color:#1F2428;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px; 
}
.jacket__blue h5 span{
    color: #01CD7D;
}

/* recommendation__list start */
.recommendation__list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0 27px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
    width: 1400px;
    margin-bottom: 160px;
}
.recommendation__list .economica{
    display: flex;
    gap: 26px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #C0C9D7;
    padding: 35px 67px 40px 74px;
}
.recommendation__list .economica:last-child{
    border: none;
}
.recommendation__list .economica h4{
    color: #1F2428;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.shopping-dollor{
    display: flex;
    gap: 77px;
    justify-content: center;
    padding: 50px 0;
    align-items: center;
}
.shoping_title h3{
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px; 
    width: 763px;  
    margin-bottom: 11px;                         
}
.shoping_title p{
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 60px;
}
.shoping_title a{
    width: 240px;
    padding: 24px 50px 22px;
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);

    color:#FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px; 
    text-decoration: none;
}
.okey-post__title h3{
    margin-bottom: 20px;
    margin-top: 160px;
    color: #1F2428;
    font-size: 38px;
    font-weight: 800;
    line-height: 56px;
    width: 824px;
}
.okey-post__title p{
    margin-bottom: 50px;
    color: #1F2428;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    width: 760px;
}

/* regis start */
.regis{
    border-radius: 16px;
    background:  #FFF;
    box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
    padding: 46px 35px 51px;
    margin-bottom: 80px;
}
.regis__list-item{
    display: flex;
    gap: 25px;
    justify-content: center;
}
.strana{
    width: 246px;
}
.strana h4{
    color: #222;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px; 
    margin-bottom: 20px;
}
.strana .rossia_regist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #222;
    padding-bottom: 20px;
    margin-bottom: 32px;
}
.rossia_regist .left-rossia_regist{
    display: flex;
    gap: 15px;
    align-items: center;
}
.rossia_regist .left-rossia_regist h5{
    color:  #222;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px; 
}
.regis button{
    border-radius: 36px;
    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px 0px rgba(1, 203, 124, 0.20);
    padding: 22px 0;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    width: 240px;
    border: none;
}
.variant-dostavka__title h3{
    color:  #1F2428;
    font-size: 36px;
    font-weight: 800;
    line-height: 56px;
    margin-bottom: 30px;
}
.variant-dostavki__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}
.pochta{
    display: flex;
    justify-content: space-between;
    padding: 26px 29px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.10);
}
.left-pochta__item{
    display: flex;
    gap: 27px;
    align-items: center
}
.right-pochta_item{
    display: flex;
    align-items: center;
}
.right-pochta_item .stroki{
    padding: 0 50px;
    border-left: 1px solid #C0C9D7;
}
/* oxirgi block tugatilmadi */